<div class="container py-5">
  <h1 class="text-center pb-2">Welcome to your dashboard, <%= current_user.first_name %></h1>
  <p class="text-center pb-5">It's a <strong>beautiful</strong> day to get things done.</p>
</div>
