<div class="login-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <div class="form-login">
          <div class="row justify-content-center">
            <%= image_tag "brand-icon.png", class: "login-logo py-3" %>
          </div>
          <h2>Team Login</h2>
            <%= render 'devise/sessions/login_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
