<div class="house-bg d-flex justify-content-center align-items-center py-5">
  <div class="text-center bg-white p-4 rounded-2">
    <h1 class="text-center fw-bold ">Success!</h1>
    <p class="text-center">Your application to host with <strong>Aloha Led Homestay</strong> has been submitted<br> and we will be in touch shortly.</p>
  </div>
</div>
<div class="container py-5">
  <h4 class="text-center py-5 fw-bold ">A quick message from our founders, Jay & Ayako:</h4>
  <p class="text-center">Message goes here</p>
</div>
