<div class="bg-warning">
  <div class="container py-5">
    <div class="row justify-content-center">
      <%= image_tag "brand-icon.png", class: "login-logo py-3" %>
    </div>
    <h1 class="text-center pb-2 fw-bold">Aloha Led Homestays</h1>
    <p class="text-center fw-bold pb-5">Apply to become a host family and get started with students</p>
  </div>
</div>
<div class="container py-5">
  <%= render "shared/publichostform" %>
</div>
