<div class="family-bg d-flex justify-content-center align-items-center py-5">
  <div class="text-center bg-white p-4 rounded-2">
    <div class="row justify-content-center">
      <%= image_tag "brand-icon.png", class: "login-logo py-3" %>
    </div>
    <h1 class="text-center pb-2 fw-bold">Aloha Led Homestays</h1>
    <p class="text-center fw-bold">Apply to become a host family and get started hosting students</p>
  </div>
</div>
<div class="container py-5">
  <%= render "shared/publichostform" %>
</div>
