<div class="room-bg d-flex justify-content-center align-items-center py-5">
  <div class="text-center bg-white p-4 rounded-2">
    <div class="row justify-content-center">
      <%= image_tag "brand-icon.png", class: "login-logo py-3" %>
    </div>
    <h1 class="text-center pb-2 fw-bold">Aloha Led Homestay</h1>
    <p class="text-center fw-bold">Add your rooms for students to stay in</p>
  </div>
</div>
<div class="container py-5">
  <%= render "shared/roomform" %>
</div>
