.bg-lightgrey {
  background-color: #d1d1d1;
}

.bg-darkgrey {
  background-color: #212529;
}

.room-bg {
  background-image: url("bedroom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.beach-bg {
  background-image: url("beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.family-bg {
  background-image: url("family.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.house-bg {
  background-image: url("house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
