.navbar-lewagon {
  justify-content: space-between;
  background: #ffdd00;
  // border-bottom:1px solid #c5c5c5;
  font-weight: 600;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
