<p>Hi <%= @student.first_name %>,</p>
<p>Thank you for applying to stay with us at Aloha Led Homestay.</p>
<p>This email confirms that your details have been received and we will be in touch shortly.</p>
<p>If you have any questions we are always here to help!</p>
<p>The Aloha Led Homestay team</p>
<p><a href="https://alohaledhomestay.com">Aloha Led Homestay</p></a>
---
<p>こんにちは、</p>
<p>アロハ・レッド・ホームステイにご滞在のお申し込み、ありがとうございます。</p>
<p>このメールは、お客様の詳細情報が受け取られたことを確認し、まもなくご連絡させていただきますことをお知らせいたします。</p>
<p>何か質問があれば、いつでもお手伝いさせていただきます！</p>
<p>アロハ・レッド・ホームステイ チーム</p>
